body{
    font-family: Arial, Helvetica, sans-serif;
}


/*Sessão Nav */
nav{
    background-color: bisque;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    padding-right: 25px;
    gap: 10px;
}


/*Sessão Header*/
header{
    background-color: aquamarine;
    padding-left: 25px;
}
header h1{
    margin-bottom: -5px;
}


/*Sessão Section*/
section{
    background-color: rosybrown;
    padding: 10px;
    padding-left: 20px;

}
section h1{
    margin-bottom: -5px;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}